body{
    margin: 0;  
     
}

header{
    grid-area:  header;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.cadastro{
    width: 100vw;
    height: 80px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
     
}
.cadastro h1{
    font-family: 'Indie Flower', cursive;
    font-size: 35pt;
     
}
.cadastro button{
    background-color: #00ad00;
    border: none;
    padding: 8px;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
}



.cadastro button a{
    text-decoration: none;
    font-size: 16pt;
    color: white;
}

.pai{
    flex-direction: column;
     height: 699px;
     width: 100vw;
     display: flex;
     justify-content: center;
     align-items: center;
     background-image: url(https://conteudo.imguol.com.br/c/entretenimento/6f/2017/11/03/mesada-filhos-1509733836274_v2_1920x1280.jpg);
     background-attachment: fixed;
     
     
}
.souPai{
    align-self: flex-start;
    font-size: 18pt;
    font-family: 'Cabin Sketch', cursive;
    font-style: italic;
}

.cadastroUser{
    width: 50%;
    height: 55 0px;
    align-self: flex-start;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    opacity: 0.7;
    justify-self: flex-start;
    
}

.cadastroUser h1{
    text-align: center;
    font-style: normal;
    font-family: sans-serif;
    font-size: 20pt;
}

.cadastroUser input{
    border-radius: 2px;
    padding: 6px;
    border: none;
     
     
     
    

}

.inputPai1{
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid gray; 
    border:none;
    width: 90%;
    align-items: center;
}
.inputPai1 input{
    display: block;
    
    padding: 6px;

}
.inputPai1 h2{
    font-size: 13pt;
    font-family: sans-serif;
}
 

.inputPai h2{
    font-size: 13pt;
    font-family: sans-serif;
}
.inputPai input[type="text"]{
    padding: 5px 0px 5px;
    margin-bottom: 20px;
    border: none;
}

.btnSalvar{
    display: flex;
    width: 150px;
    margin: 10px;
    align-self: center;
    justify-content: center;
    border: none;
    background-color:#00ad00;
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #00ad00;
    
}

.btnSalvar:hover{
    background-color: white;
    color: #00ad00;
     
}

 
